#
# irccdctl.conf -- config file for irccdctl
#

# Section general:
#    This section describe global options used by irccd.
#
# [general]
# verbose = false               # (bool) enable verbose message (Optional, default: false).

[general]

# Section connect:
#    This section is used to connect to a irccd transport.
#
# For internet sockets:
#
# [connect]
# type = "ip"
# host = "localhost"            # (string) host to connect,
# port = "1234"                 # (int) port number,
# family = "ipv4" or "ipv6"     # (string) internet family: ipv6 or ipv4 (Optional, default: ipv4).
#
# For unix sockets:
#
# [connect]
# type = "unix"
# path = "/tmp/irccd.sock"      # (string) the file path to the socket.

[connect]
type = "ip"
host = "localhost"
port = "5980"

# Section alias:
#    This section defines aliases to be used with irccdctl(1). Create a section
#    per alias and add any command you need. You may use %n as placeholders for
#    arguments to be provided on the command line.
#
#    The option name has no meaning and is only there as self documentation.
#
# [alias.cycle]
# leave = ( "server-part", "%0", "%1", "coming back soon" )
# join = ( "server-join", "%0", "%1" )
#
# Use this alias with: irccdctl cycle wanadoo "#games"
