[Unit]
Description=IRC Client Daemon
After=network.target

[Service]
ExecStart=@PATH@
User=@USER@
Group=@GROUP@

[Install]
WantedBy=multi-user.target
