/*
 * irccd.css -- style for irccd website
 */

/*

.color-primary-0 { color: #2C4E68 }
.color-primary-1 { color: #6C879B }
.color-primary-2 { color: #45667F }
.color-primary-3 { color: #183953 }
.color-primary-4 { color: #072338 }

*/

body {
	padding-top: 70px;
	padding-bottom: 20px;
}

pre {
	background-color: #ffffff;
}

.jumbotron {
	background-color: #F5F5F5;
}

.navbar {
	background-color: #2C4E68;
	border-color: #183953;
}

.navbar .navbar-toggle {
	border-color: #183953;
}

.navbar .navbar-brand {
	color: rgba(255, 255, 255, 0.9);
}

.navbar .navbar-text {
	color: rgba(255, 255, 255, 0.9);
}

.navbar .navbar-link {
	color: rgba(255, 255, 255, 0.9);
}

.navbar .navbar-nav>li>a {
	color: rgba(255, 255, 255, 0.9);
}

.navbar .navbar-collapse {
	border-color: #183953;
}

.sidebar {
	margin-top: 50px;
}
